@import '../../styles/lib/theme.scss';

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;

    @include breakpoint(tablet_mobile) {
        border-radius: 1.3vw;
    }

    &:hover .window_top, &:hover .window_bottom {
        transition: 1s;
        background-color: $primary_color;
    }

    &:hover .info_container {
        transition: 0.5s;
        opacity: 1;
    }
}

.img_container {
    position: relative;
    width: 25vw;
    height: 14.5vw;

    @include breakpoint(tablet_mobile) {
        width: 30vw;
        height: 60vw;
    }
}

.info_container {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.44);
    backdrop-filter: blur(10px);

    & > h2 {
        margin-bottom: 20px;
        @include breakpoint(tablet_mobile) {
            font-size: inherit;
        }
    }
}


.window_top {
    width: 25vw;
    height: 15px;
    background-color: $secondary_color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;

    @include breakpoint(tablet_mobile) {
        width: 30vw;
        height: 2vw;
        border-top-left-radius: 1.3vw;
        border-top-right-radius: 1.3vw;
    }

    & > div {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: #fff;
        margin-left: 10px;

        @include breakpoint(tablet_mobile) {
            display: none;
        }
    }
}

.window_bottom {
    width: 25vw;
    height: 15px;
    background-color: $secondary_color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(tablet_mobile) {
        width: 30vw;
        height: 2vw;
        border-bottom-left-radius: 1.3vw;
        border-bottom-right-radius: 1.3vw;
    }

    & > div {
        display: none;
        background-color: #fff;
        width: 1vw;
        height: 1vw;
        border-radius: 50%;

        @include breakpoint(tablet_mobile) {
            display: block;
        }
    }
}