@import '../../styles//lib/theme.scss';

.footer {
  position: relative;
  z-index: 999;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: $secondary_color;
}