@import '../../styles/lib/theme.scss';

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    & > p {
        font-size: $sm_font;
    }
}

.copyright {
    color: $primary_color;
    font-weight: bold;
}