@import '../../styles/lib/theme.scss';

.active_route {
    font-weight: bold;
}

.nav_container {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    padding: 50px 100px;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(mobile) {
        display: none;
    }

    & > h1 {
        font-family: 'ShadowsIntoLight';
        cursor: pointer;
        font-size: $lg_font;
    }

    & > img {
        width: 200px;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;

    & > li {
        margin-left: 10px;
    }
}

// Mobile Nav
.logo_mobile, .dropdown_btn {
    cursor: pointer;
    display: none;
    z-index: 1000;
    position: fixed;
    top: 25px;
    @include breakpoint(mobile) {
        display: flex;
    }
}

.logo_mobile {
    font-size: $lg_font;
    font-family: 'ShadowsIntoLight';
    left: 25px; 
}

.dropdown_btn {
    right: 25px;
    width: 25px;
    height: 25px;
}

.nav_mobile {
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    background-color: $background_color;
    transform-origin: top right;

    li {
        margin: 20px;
    }
}