@import '../lib/theme.scss';

$component_margin: 200px;

.title {
    @extend %title_style;
}

.subtitle {
    @extend %title_style;
    font-size: $xlg_font;
}

.container {
    @extend %page_container;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    @include breakpoint(mobile) {
        flex-direction: column;
    }
}

.profile_container {
    position: relative;
    width: 500px;
    height: 500px;

    @include breakpoint(mobile) {
        width: 250px;
        height: 250px;
    }
}

.about_me {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    @include breakpoint(tablet_mobile) {
        flex: 1;
    }

    & > p {
        margin-top: 50px;
    }
}

.intro, .efficiency {
    margin-top: $component_margin;
    width: 1025px;

    @include breakpoint(tablet_mobile) {
        width: 100%
    }

    & > h1 {
        @extend %title_style;
    }
}

.intro {
    & > p {
        margin-top: 50px;
    }
}

.inefficiency {
    display: flex;
    gap: 20px;
    margin-top: 50px;

    @include breakpoint(mobile) {
        flex-direction: column;
    }

    & > div {
        flex: 1;
        display: flex;
        flex-direction: column;

        @include breakpoint(mobile) {
            flex: none;
            margin-top: 50px;
        }

        & > h3 {
            font-size: $lg_font;
        }
        
        & > p {
            margin-top: 20px;
        }
    }
}

.efficiency {
    & > p {
        margin-top: 50px;
    }
}

.efficient_components {
    margin-top: 50px;
    width: 1025px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 100px;

    @include breakpoint(tablet_mobile) {
        gap: 50px;
        width: 100%
    }

    @include breakpoint(mobile) {
        grid-template-columns: 1fr;
    }
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding: 50px 25px;
    box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

    @include breakpoint(tablet_mobile) {
        width: auto;
    }


    & > h2 {
        margin: 30px;
    }
}

.intro_templates {
    margin-top: $component_margin;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > a {
        align-self: flex-end;
    }

        
    .templates_container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 50px;

        @include breakpoint(mobile) {
            flex-direction: column-reverse;
            align-items: center;
        }

        .img_container {
            position: relative;
            height: 32vw;
            width: 100%;

            @include breakpoint(mobile) {
                width: 80vw;
            }
        }
    }

    .template_desktop, .template_mobile {
        display: flex;
        flex-direction: column;
        box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-radius: 15px;
    }

    .template_desktop {
        width: 60vw;

        @include breakpoint(mobile) {
            width: 80vw;

            & > .img_container {
                height: 45vw;
            }
        }
    }

    .template_mobile {
        width: 15.8vw;

        @include breakpoint(mobile) {
            width: 80vw;

            & > .img_container {
                height: 160vw;
            }
        }
    }

    .desktop_top, .desktop_bottom, .mobile_top, .mobile_bottom {
        background-color: $secondary_color;
        width: 100%;
        height: 1.3vw;

        @include breakpoint(mobile) {
            height: 2.5vw;
        }
    }

    .desktop_top, .mobile_top {
        border-top-left-radius: 0.7vw;
        border-top-right-radius: 0.7vw;

        @include breakpoint(mobile) {
            border-top-left-radius: 1.4vw;
            border-top-right-radius: 1.4vw;
        }
    }

    .desktop_bottom, .mobile_bottom {
        border-bottom-left-radius: 0.7vw;
        border-bottom-right-radius: 0.7vw;

        @include breakpoint(mobile) {
            border-bottom-left-radius: 1.4vw;
            border-bottom-right-radius: 1.4vw;
        }
    }

    .desktop_top {
        display: flex;
        align-items: center;
        & > div {
            border-radius: 50%;
            width: 0.5vw;
            height: 0.5vw;
            background-color: #fff;
            margin-left: 0.5vw;

            @include breakpoint(mobile) {
                width: 1vw;
                height: 1vw;
                margin-left: 1vw;
            }
        }
    }

    .mobile_bottom {
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
            border-radius: 50%;
            width: 0.5vw;
            height: 0.5vw;
            background-color: #fff;

            @include breakpoint(mobile) {
                width: 1vw;
                height: 1vw;
            }
        }
    }
}

.equation {
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include breakpoint(tablet_mobile) {
        margin: 50px 0;
        width: 100%;
        justify-content: space-around;

        & > img {
            width: 35px;
            height: 35px;
        }
    }


    & > h2 {
        margin: 0 50px;

        @include breakpoint(tablet_mobile) {
            margin: 0;
        }
    }
}

.templates_comparison_container {
    display: flex;
    justify-content: space-between;
    gap: 25px;

    @include breakpoint (tablet_mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .img_container {
        position: relative;
        width: 100%; 
        height: 260px;

        @include breakpoint(tablet_mobile) {
            height: 45vw;
        }
    }

    .template_desktop {
        cursor: pointer;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        border-radius: 15px;
    
        &:hover > .desktop_top, &:hover > .desktop_bottom {
            background-color: $primary_color;
        }
    }
    
    .template_desktop {
        width: 450px;

        @include breakpoint(tablet_mobile) {
            width: 80vw;
        }
    
    }
    
    .desktop_top, .desktop_bottom {
        background-color: $secondary_color;
        width: 100%;
        height: 15px;

        @include breakpoint(tablet_mobile) {
            height: 2vw;
        }
    }
    
    .desktop_top {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .desktop_bottom {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .desktop_top {
        display: flex;
        align-items: center;
        & > div {
            border-radius: 50%;
            width: 5px;
            height: 5px;
            background-color: #fff;
            margin-left: 5px;

            @include breakpoint(tablet_mobile) {
                margin-left: 1vw;
                width: 1vw;
                height: 1vw;
            }
        }
    }
}



.custom_design, .scalable_design, .and_more {
    width: 1025px;
    margin-top: $component_margin;

    @include breakpoint(tablet_mobile) {
        width: 100%
    }

    & > p {
        margin-top: 50px;
    }
}

.custom_design, .and_more {
    align-self: flex-start;

    @include breakpoint(smallScreen) {
        align-self: auto;
    }
}

.scalable_design {
    align-self: flex-end;

      @include breakpoint(smallScreen) {
        align-self: auto;
    }
}
