@import '../lib/theme.scss';

$component_margin: 200px;
$component_margin_mobile: 100px;

.subtitle {
    @extend %title_style;
    font-size: $xlg_font;

    @include breakpoint(mobile) {
        font-size: $lg_font;
    }
}

.description {
    margin: 100px 0 50px 0;
}

.container {
    @extend %page_container;

    & > div {
        margin-top: $component_margin;
        width: 1025px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint(tablet_mobile) {
            margin-top: $component_margin_mobile;
            width: 100%;
        }

        & > h3 {
            margin-bottom: 50px;
        }
    }

    ul {
        padding-left: 50px;
    }
    li {
        line-height: 1.5em;
        list-style: disc;

        ul {
            padding-left: 20px;
        }

        li  {
            list-style: circle;
        }
    }
}

.title {
    @extend %title_style;
}

.template_structure, .web_stack {
    align-self: flex-end;

    @include breakpoint(smallScreen) {
        align-self: auto;
    }
}

.structure_img_container {
    position: relative;
    width: 700px;
    height: 370px;
    margin: 10px 0;

    @include breakpoint(tablet) {
        width: 75vw;
        height: 36vw;
    }

    @include breakpoint(mobile) {
        width: 90vw;
        height: 46vw;
    }
}

.overview, .basic_features {
    align-self: flex-start;

    @include breakpoint(smallScreen) {
        align-self: auto;
    }
}

.ogtag_reference {
    width: 100%;
    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        & > img {
            width: 40%;
        }

        & > p {
            margin: 0 20px;
        }
    }
}

.equation {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    & > img {
        width: 25%;
        margin: 0 20px;

        @include breakpoint(mobile) {
            width: 70px;
        }
    }
}
