@import '../lib/theme.scss';
$component_margin: 150px;

.container {
  @extend %page_container;
}

.more_btn {
  align-self: flex-end;
}

.main {
  width: 1025px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    @extend %title_style;
  }

  & > p {
    margin-top: 50px;
    line-height: 1.5em;
  }
}

.slideshow_container {
  width: 1025px;
  margin-top: $component_margin;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > h1 {
    @extend %title_style;
    margin-top: 100px;
  }

  & > p {
    margin-top: 50px;
    line-height: 1.5em;
  }
}