@import '../lib/theme.scss';

.container {
    @extend %page_container;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 100px;

    @include breakpoint(tablet_mobile) {
        grid-template-columns: auto auto;
        gap: 50px;
    }
}